/* styles.css */

.reveal .slides section h2 {
  font-size: 1.3em;
}

#vcenter {
  vertical-align: middle;
}

.reveal ol[type="a"] {
  padding-left: 1.2em !important;
}

.reveal .small-list,
.reveal .small-list li {
  font-size: 0.6em !important;
}