# macOS
.DS_Store

# Quarto build outputs
_site/
_slides/
_freeze/
slides/_output/
slides/_freeze/
slides/EnergyBalances/
slides/ElectrochemEng/

# Python
__pycache__/
*.pyc
.venv/

# pptx figures
*.pptx

# Jupyter
.ipynb_checkpoints/
/.quarto/
**/*.quarto_ipynb
**/.jupyter_cache/